function @glob {
  glob 'src/**/*.{js,ts}' --nodir --ignore 'src/**/*.test.{js,ts}' --ignore 'src/tests/**/*'
}

function @dry {
  npm publish --dry-run
}

function @node20 {
  rm -rf node_modules
  volta pin node@20
  npm install
}

function @node4 {
  volta pin node@4
  rm -rf node_modules
  npm install --production
  npm install --save-dev mocha@5.2.0 ws@2.3.1 chai express
}

function @install-compatible-packages {
  rm -rf node_modules
  npm install --production
  npm install --save-dev mocha@5.2.0 ws@2.3.1 chai express
}